<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body bgcolor="lightblue">
	<center>
	<h1>Customer Register Form</h1>
	<hr>
<form action="" method="post">
	{% csrf_token %}
	Enter your Name : <input id="your_name" type="text" name="your_name" ><br><br>
    Enter your Age :<input id="your_age" type="text" name="your_age" ><br><br>
	Enter your Gender :<input id="your_gender" type="text" name="your_gender" ><br><br>
    Enter your Email :<input id="your_email" type="text" name="your_email" ><br><br>
    Enter your phone_no :<input id="your_phone_no" type="text" name="your_phone_no" ><br><br>
	Enter your Address :<input id="your_address" type="text" name="your_address" ><br><br>
	<input type="submit" value="Sign Up" name="enquiry">
	<input type="reset" value="Cancel" name="enquiry">

</form>
</center>
</body>
</html>